@model IEnumerable<TechBlogWebsite.Models.Post>

@{
    foreach (var i in Model)
    {
        <div class="blog-box">
            <div class="post-media">
                <a href="tech-single.html" title="">
                    <img src="~/Content/upload/@i.FeaturedImage" alt="" class="img-fluid">
                    <div class="hovereffect">
                        <span class="videohover"></span>
                    </div><!-- end hover -->
                </a>
            </div><!-- end media -->
            <div class="blog-meta">
                <h4><a href="tech-single.html" title="">@i.Title</a></h4>
            </div><!-- end meta -->
        </div><!-- end blog-box -->

        <hr class="invis">
    }
}
