@using TechBlogWebsite.Help;
@model TechBlogWebsite.Models.Category

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between">
                    <div>
                        <div class="btn-group">
                            @Html.NoEncodeActionLink("<i class='fas fa-plus'></i> Add New", "Create", "Create", "Posts", null, new { @class = "btn btn-success" })
                        </div>
                    </div>
                    <div>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.CategoryID, (SelectList)ViewBag.Categories, " --- All Products --- ", new { @class = "custom-select", @id = "CategoryID" })
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="getPosts"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    function getPosts() {
        var CategoryId = $('#CategoryID').val();
        $.ajax({
            url: '@Url.Action("getPosts", "Posts")',
            type: "GET",
            data: { id: CategoryId },
            success: function (data) {
                $("#getPosts").html(data);
            },
            error: function () {
                alert("An error occurred.");
            }
        });
    }
    getPosts();
    $("#CategoryID").change(function () {
        getPosts();
    });
});
</script>
