@using TechBlogWebsite.Help;
@model TechBlogWebsite.Models.Category

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Management</h1>
    <!-- DataTales Example -->
    <div class="btn-group">
        @Html.NoEncodeActionLink("<i class='fas fa-pencil-alt'></i> Thêm mới", "Create", "Create", "Posts", routeValues: new { }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
    <div class="btn-group">
        @Html.DropDownListFor(model => model.CategoryID, (SelectList)ViewBag.Categories, " --- Tất cả sản phẩm --- ",
                            new { @class = "form-control", @id = "CategoryID" })
    </div>
    <div id="getPosts"></div>
    <script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            search: true,
            paging: true,
            pageLength: 11,
            columns: [
                { data: '1' },
                { data: '2' },
                { data: '3' },
                { data: '4' },
                { data: '5' },
                { data: '6' },
                { data: '7' },
                { data: '8' },
                { data: '9' },
                { data: '10' },
                { data: '11' },
            ]
        });
    });

    $(document).ready(function () {
        function getPosts() {
            var CategoryId = $('#CategoryID').val();
        $.ajax({
            url: '@Url.Action("getPosts", "Posts")',
            type: "GET",
            data: { id: CategoryId },
            success: function (data) {
                $("#getPosts").html(data);
            },
            error: function (data) {
                alert("something went wrong.");
            }
        });
    }
        getPosts();
        $("#CategoryID").change(function () {
        getPosts();
    })
});
    </script>

